## Introduction

In this course project, you will build a regression model using the deep learning Keras library, and then you will experiment with increasing the number of training epochs and changing number of hidden layers and you will see how changing these parameters impacts the performance of the model.

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Part A</a>  
3. <a href="#item33">Part B</a>  
4. <a href="#item34">Part C</a>
5. <a href="#item35">Part D</a>

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [15]:
import pandas as pd
import numpy as np

In this project, you will build a regression model using the Keras library to model the same data about concrete compressive strength that we used in labs 3.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [16]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [17]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [18]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [19]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [20]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [21]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [22]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [23]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to _n_cols_ since we will need this number when building our network.

In [24]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id="item32"></a>

## Part A (5 marks)

Build a baseline model 

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

#### Let's go ahead and import the Keras library

In [25]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [26]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [27]:
# define baseline model
def baseline_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
#     model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has one hidden layer of 10 hidden nodes.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [28]:
# build the model
model = baseline_model()

Next, we will train and test the model at the same time using the _fit_ method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [29]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 1s - loss: 1672.0270 - val_loss: 1168.8045
Epoch 2/100
 - 0s - loss: 1576.6072 - val_loss: 1062.9800
Epoch 3/100
 - 0s - loss: 1413.1825 - val_loss: 887.2448
Epoch 4/100
 - 0s - loss: 1145.1731 - val_loss: 640.5547
Epoch 5/100
 - 0s - loss: 780.7448 - val_loss: 380.2503
Epoch 6/100
 - 0s - loss: 441.8955 - val_loss: 208.2730
Epoch 7/100
 - 0s - loss: 279.8344 - val_loss: 155.9184
Epoch 8/100
 - 0s - loss: 234.6869 - val_loss: 148.9823
Epoch 9/100
 - 0s - loss: 215.2042 - val_loss: 148.7872
Epoch 10/100
 - 0s - loss: 203.1292 - val_loss: 149.5226
Epoch 11/100
 - 0s - loss: 194.3375 - val_loss: 147.9023
Epoch 12/100
 - 0s - loss: 187.7968 - val_loss: 147.2461
Epoch 13/100
 - 0s - loss: 181.8121 - val_loss: 148.0738
Epoch 14/100
 - 0s - loss: 177.6257 - val_loss: 145.8430
Epoch 15/100
 - 0s - loss: 172.8530 - val_loss: 146.5664
Epoch 16/100
 - 0s - loss: 169.2125 - val_loss: 145.8423
Epoch 17/100
 - 0s - loss: 165.9168 - val_loss: 144.8516
Epoch 18/100
 - 0s - loss: 162.8809 - val_loss: 144.7108
Epoch 19/100
 - 0s - loss: 160.2113 - val_loss: 145.8437
Epoch 20/100
 - 0s - loss: 157.6462 - val_loss: 144.7794
Epoch 21/100
 - 0s - loss: 155.1805 - val_loss: 146.8332
Epoch 22/100
 - 0s - loss: 153.0876 - val_loss: 145.7746
Epoch 23/100
 - 0s - loss: 150.9258 - val_loss: 145.6442
Epoch 24/100
 - 0s - loss: 149.3884 - val_loss: 148.3883
Epoch 25/100
 - 0s - loss: 147.1426 - val_loss: 147.0598
Epoch 26/100
 - 0s - loss: 145.5441 - val_loss: 146.6207
Epoch 27/100
 - 0s - loss: 143.9409 - val_loss: 147.6172
Epoch 28/100
 - 0s - loss: 142.5960 - val_loss: 148.0259
Epoch 29/100
 - 0s - loss: 140.7558 - val_loss: 147.6749
Epoch 30/100
 - 0s - loss: 139.6954 - val_loss: 147.3472
Epoch 31/100
 - 0s - loss: 138.2448 - val_loss: 149.2405
Epoch 32/100
 - 0s - loss: 136.6708 - val_loss: 146.4364
Epoch 33/100
 - 0s - loss: 135.7436 - val_loss: 150.3290
Epoch 34/100
 - 0s - loss: 134.1167 - val_loss: 152.1640
Epoch 35/100
 - 0s - loss: 132.8989 - val_loss: 148.6008
Epoch 36/100
 - 0s - loss: 131.9922 - val_loss: 151.1303
Epoch 37/100
 - 0s - loss: 130.1877 - val_loss: 149.7885
Epoch 38/100
 - 0s - loss: 128.9844 - val_loss: 149.6885
Epoch 39/100
 - 0s - loss: 127.9357 - val_loss: 153.1145
Epoch 40/100
 - 0s - loss: 126.0265 - val_loss: 151.3781
Epoch 41/100
 - 0s - loss: 124.7037 - val_loss: 153.1575
Epoch 42/100
 - 0s - loss: 123.2636 - val_loss: 153.5091
Epoch 43/100
 - 0s - loss: 121.7405 - val_loss: 153.4167
Epoch 44/100
 - 0s - loss: 120.2056 - val_loss: 155.8373
Epoch 45/100
 - 0s - loss: 118.8321 - val_loss: 152.9157
Epoch 46/100
 - 0s - loss: 117.7040 - val_loss: 153.8071
Epoch 47/100
 - 0s - loss: 115.6980 - val_loss: 152.4425
Epoch 48/100
 - 0s - loss: 114.3199 - val_loss: 155.7780
Epoch 49/100
 - 0s - loss: 113.0496 - val_loss: 157.1929
Epoch 50/100
 - 0s - loss: 111.1160 - val_loss: 153.8652
Epoch 51/100
 - 0s - loss: 108.4859 - val_loss: 154.4196
Epoch 52/100
 - 0s - loss: 106.2076 - val_loss: 156.6620
Epoch 53/100
 - 0s - loss: 104.1649 - val_loss: 156.7234
Epoch 54/100
 - 0s - loss: 101.8284 - val_loss: 147.2534
Epoch 55/100
 - 0s - loss: 100.2370 - val_loss: 154.8741
Epoch 56/100
 - 0s - loss: 96.5779 - val_loss: 153.1673
Epoch 57/100
 - 0s - loss: 94.3491 - val_loss: 152.9523
Epoch 58/100
 - 0s - loss: 90.7656 - val_loss: 153.3112
Epoch 59/100
 - 0s - loss: 87.7824 - val_loss: 153.3044
Epoch 60/100
 - 0s - loss: 84.7262 - val_loss: 149.2686
Epoch 61/100
 - 0s - loss: 82.5723 - val_loss: 150.1662
Epoch 62/100
 - 0s - loss: 79.1363 - val_loss: 151.0138
Epoch 63/100
 - 0s - loss: 76.4072 - val_loss: 148.3247
Epoch 64/100
 - 0s - loss: 73.4941 - val_loss: 161.6537
Epoch 65/100
 - 0s - loss: 71.4412 - val_loss: 150.5305
Epoch 66/100
 - 1s - loss: 68.1714 - val_loss: 151.1626
Epoch 67/100
 - 0s - loss: 66.2512 - val_loss: 168.9284
Epoch 68/100
 - 1s - loss: 65.0451 - val_loss: 147.1902
Epoch 69/100
 - 0s - loss: 62.0385 - val_loss: 160.0177
Epoch 70/100
 - 0s - loss: 60.0868 - val_loss: 156.6690
Epoch 71/100
 - 0s - loss: 58.8365 - val_loss: 166.7867
Epoch 72/100
 - 0s - loss: 57.0300 - val_loss: 161.7754
Epoch 73/100
 - 0s - loss: 56.0280 - val_loss: 166.2424
Epoch 74/100
 - 0s - loss: 54.4697 - val_loss: 158.4712
Epoch 75/100
 - 0s - loss: 53.1465 - val_loss: 159.9985
Epoch 76/100
 - 0s - loss: 52.1781 - val_loss: 157.8556
Epoch 77/100
 - 0s - loss: 50.8236 - val_loss: 165.6999
Epoch 78/100
 - 0s - loss: 49.4709 - val_loss: 163.4993
Epoch 79/100
 - 0s - loss: 48.4533 - val_loss: 164.3920
Epoch 80/100
 - 0s - loss: 47.5628 - val_loss: 169.1556
Epoch 81/100
 - 0s - loss: 46.5107 - val_loss: 164.8343
Epoch 82/100
 - 0s - loss: 45.7121 - val_loss: 169.0639
Epoch 83/100
 - 0s - loss: 44.6672 - val_loss: 166.1535
Epoch 84/100
 - 0s - loss: 43.8389 - val_loss: 162.8576
Epoch 85/100
 - 0s - loss: 43.3581 - val_loss: 163.4637
Epoch 86/100
 - 0s - loss: 42.3132 - val_loss: 173.9123
Epoch 87/100
 - 0s - loss: 42.0035 - val_loss: 159.9167
Epoch 88/100
 - 0s - loss: 41.5527 - val_loss: 162.7470
Epoch 89/100
 - 0s - loss: 41.1638 - val_loss: 161.4402
Epoch 90/100
 - 0s - loss: 39.9350 - val_loss: 173.6052
Epoch 91/100
 - 0s - loss: 39.4721 - val_loss: 178.3363
Epoch 92/100
 - 0s - loss: 39.5905 - val_loss: 165.9098
Epoch 93/100
 - 0s - loss: 38.3537 - val_loss: 158.2602
Epoch 94/100
 - 0s - loss: 37.9830 - val_loss: 177.4296
Epoch 95/100
 - 0s - loss: 37.1053 - val_loss: 164.0446
Epoch 96/100
 - 0s - loss: 36.2142 - val_loss: 162.0987
Epoch 97/100
 - 0s - loss: 36.2212 - val_loss: 161.9155
Epoch 98/100
 - 0s - loss: 35.3675 - val_loss: 167.4039
Epoch 99/100
 - 0s - loss: 35.2228 - val_loss: 166.3936
Epoch 100/100
 - 0s - loss: 34.8631 - val_loss: 162.0853

<a id="item33"></a>

## Part B  (5 marks)

Normalize the data

Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

How does the mean of the mean squared errors compare to that from Step A?

<a id="item34"></a>

## Part C (5 marks)

Increate the number of epochs 

Repeat Part B but use 100 epochs this time for training.

How does the mean of the mean squared errors compare to that from Step B?

<a id="item35"></a>

## Part D (5 marks)

Increase the number of hidden layers 

Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

How does the mean of the mean squared errors compare to that from Step B?